.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #08358f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


.thetop {
  grid-area: header;
  background-color: #735c6dca;
  /* padding: 1px; */
  /* grid-gap: 10px; */
}

/* .container {
  display: grid;
  grid-template:
    'header  header header'
    'main main  main'
    'footer footer  footer';
  min-height: 100%;
  grid-template-rows: 5% 90% 5%;
  min-width: 100%;
  overflow: auto;
  background-color: #d3dfe9;
} */

/*
.middle{
  grid-area: main;
  display: grid;
  grid-template-areas:
  'sidebar main main ';
  grid-template-columns:  10rem  100%;
} */
button {
  border-radius: 1.5rem;
}

.maincontainer {
  grid-area: main;
  /* overflow:scroll; */
  padding: 1px;
  background-color: #e5e7e631;
  /* align-items: center; */

}

.refreshBtn {
  width: 30px;
  text-align: center;
  border: none;
}

.thetop1 {
  grid-area: header;
  background-color: #cec0ca36;
  padding: 1px;
  max-height: min-content;
  /* padding: 0.01rem; */
  /* align-items: center; */

}

.appMainContainer {
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  /* max-height: min-content; */
  /* min-width: 90%; */
  overflow: auto;
  background-color: #e6e4e4ec;

  /* scroll-behavior: auto; */
}

.maingridContainer {
  grid-area: main;
  grid-template-areas:
    'header main ';
  grid-template-columns: 100%;
  overflow: auto;
  /* max-height:98%; */
}
.dayListContainerRow {
  border-radius: 25px;
  /* grid-area: main; */
  padding: 1% 5% 1% 5%;
  min-width: 90%;
  /* min-height: 10%; */
  /* min-height: 85%; */
  /* margin: 20px; */
  /* align-items: flex-start;
  */
  align-items: center;
  flex-direction: row;
  display: flex;
  /* background-color: #858e8b31; */



}
.dayListContainer {
  border-radius: 25px;
  /* grid-area: main; */
  padding: 1% 5% 1% 5%;
  min-width: 90%;
  /* min-height: 10%; */
  /* min-height: 85%; */
  /* margin: 20px; */
  /* align-items: flex-start;
  */
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #858e8b31;



}

@media only screen and (min-width: 1070px) {
  .dayListContainer {
    border-radius: 25px;
    /* grid-area: main; */
    padding: 1% 5% 1% 5%;
    min-width: 90%;
    /* min-height: 10%; */
    /* min-height: 85%; */
    /* margin: 20px; */
    /* align-items: flex-start;
  */
    align-items: center;
    /* flex-direction:column-reverse; */
    display: flex;
    background-color: #858e8b31;
  }
}

.presetDayListContainer {
  border-radius: 25px;
  /* grid-area: main; */
  padding: 1% 5% 1% 5%;
  min-width: 90%;
  min-height: 50rem;
  /* max-width: 70%; */
  /* min-height: 10%; */
  /* min-height: 85%; */
  /* margin: 20px; */
  /* align-items: flex-start;
  */
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #858e8b31;


}

@media only screen and (min-width: 1070px) {
  .presetDayListContainer {
    border-radius: 25px;
    /* grid-area: main; */
    padding: 1% 5% 1% 5%;
    min-width: 90%;
    /* min-height: 10%; */
    /* min-height: 85%; */
    /* margin: 20px; */
    /* align-items: flex-start;
  */
    align-items: center;
    /* flex-direction:column-reverse; */
    display: flex;
    background-color: #858e8b31;
  }
}

.activityImagecontainer {
  /* min-height: max-content; */

  column-rule-color: aqua;
  /* background-color: #295998; */
  /* padding: 10.15em; */

}

.activityImagecontainer>img {
  min-height: 100%;
  max-width: 15rem;
  width: auto;
  /* min-width: 10%; */
  padding: 1%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  column-rule-color: aqua;
  /* background-color: #295998; */
  /* padding: 10.15em; */

}

.activityImageListcontainer {
  /* min-height: max-content; */

  column-rule-color: aqua;
  /* background-color: #295998; */
  /* padding: 10.15em; */

}

.activityImageListcontainer>img {
  min-height: 100%;
  max-width: 55%;
  /* width: auto; */
  /* min-width: 3rem; */
  padding: 1%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  column-rule-color: aqua;
  /* background-color: #295998; */
  /* padding: 10.15em; */

}

@media only screen and (max-width: 1070px) {
  .activityImageListcontainer>img {
    min-height: 100%;
    max-width: 55%;
    /* width: auto; */
    /* min-width: 3rem; */
    padding: 1%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    column-rule-color: aqua;
    /* background-color: #295998; */
    /* padding: 10.15em; */

  }
}

.activityDayItem {
  border-radius: 25px;
  max-width: auto;
  /* 11.5rem; */
  padding: .5501em;
  /* text-align: left; */
  background: #7b7c7a00;
}

.imagecontainer {
  min-height: min-content;

  column-rule-color: aqua;
  /* background-color: #295998; */
  /* padding: 10.15em; */

}

.preset-grid-container {
  border-radius: 15px;
  display: inline-flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; */
  /* auto auto auto auto auto auto auto; */
  grid-auto-rows: minmax(min-content, 100%);
  background-color: #99d3b618;
  padding: 2%;
  min-height: inherit;
  /* max-height: max-content; */
}

@media only screen and (max-width: 470px) {
  /* hide element on small screens */

  .preset-grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #99d3b618;

    /* padding: 2px; */
  }
}

.preset-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 0.2px solid rgba(201, 192, 192, 0.8); */
  /*padding: 2rem; /*0px 0px 0px;*/
  font-size: 15px;
  grid-auto-rows: minmax(min-content, max-content);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  min-width: 10rem;
  min-height: 40rem;
  /* max-width: 70%; */
  max-height: max-content;
  padding: 0.5%;
  /* grid-auto-rows: auto; */
}

.grid-container {
  border-radius: 15px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* auto auto auto auto auto auto auto; */
  grid-auto-rows: minmax(min-content, max-content);
  background-color: #99d3b618;
  /* padding: 1px; */
  min-height: inherit;
  /* max-height: max-content; */
}

@media only screen and (max-width: 1070px) {
  /* hide element on small screens */

  .grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #99d3b618;

    /* padding: 2px; */
  }
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 0.2px solid rgba(201, 192, 192, 0.8); */
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  grid-auto-rows: minmax(min-content, max-content);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 40rem;
  max-height: max-content;
  /* grid-auto-rows: auto; */
}

.onthetop {
  height: 80px;
  min-height: 80px;
}

.dKey {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 4spx;
  background-color: #99d3b618;
}


.modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.filterDays {
  background-color: #435e45ee;
  border: '2px solid #000';
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 10%;
  padding: 1rem;
  /* min-height: 12rem;
  min-width: max-content;
  max-width: 30%; */
  max-width: 50%;
  min-width: 30%;
  min-height: 10%;
  max-height: 95%;
}

.box2 {
  align-items: left;
  align-content: center;
  /* text-align: center; */
  /* max-height: 300px; */
  /* padding: 200px; */
  /* height: min-content; */
  margin: .2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(250, 235, 215, 0.281);
  /* min-width: 100%; */
  /* padding: 15px; */
  /* min-height: min-content; */
}

.box2>label>input[type=text] {
  max-width: max-content;
  width: 100%;
}

.box3 {
  align-items: left;
  align-content: center;
  /* height: min-content; */
  /* max-height: 300px; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  margin: 0.2rem;
  background-color: rgba(240, 233, 225, 0.281);
  /* min-width: 100%; */
  /* min-height: 100px; */
}

.box3>label>input[type=text] {
  max-width: max-content;
  width: 100%;
}

.updateDay>ExtendModalUnstyled {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.updateDay {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  /* align-items: center; */
  /* align-content: center; */
  flex: content;
  direction: column;
  background-color: #7b7c7af8;
  overflow-y: auto;
  /* border: '2px solid #000'; */
  /* margin-left: 10%;
  margin-right: 10%; */
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 3%;
  /*padding: 1em; /*0em,0em,0em,0em;*/
  display: block;
  /* padding: 2rem, 4rem, 3rem 3rem; */
  /* max-width: 35rem;
  min-width: 15rem;
  min-height: 10%;
  max-height: 95%; */
  max-width: 50%;
  min-width: 30%;
  min-height: 10%;
  max-height: 95%;

  scroll-behavior: auto;
}

@media only screen and (max-width: 1070px) {
  .updateDay {
    align-content: center;
    /* align-content: center; */
    /* flex:content; */
    direction: column;
    background-color: #7b7c7af8;
    /* border: '2px solid #000'; */
    margin-left: 10%;
    margin-right: 10%;
    /* display:block; */
    /* padding: 2rem, 4rem, 3rem 3rem; */
    max-width: 35rem;

    min-width: 10rem;
    /* padding: 0.5em; */
    /* scroll-behavior: auto; */
  }
}

.updateImagecontainer {

  direction: column;
  /* min-width: 10%; */
  min-height: 10%;
  padding: 2%;
  /* flex:auto; */
}

.updateImagecontainer>img {

  max-width: 55%;
  /* max-height: 35%; */
  /* width: auto; */
  min-width: 3rem;
  min-height: 100%;
}

.dayItem {
  border-radius: 25px;
  max-width: auto;
  /* 11.5rem; */
  padding: .5501em;
  /* text-align: left; */
  background: #7b7c7a00;
}

.updateBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editImageContainer {
  /* direction: column; */
  /* min-width: 10%; */
  min-height: 10rem;
  padding: 2%;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.editImageContainer>img {

  max-width: 40%;
  /* max-height: 35%; */
  /* width: auto; */
  min-width: 10rem;
  min-height: 100%;
}


.selectImageBox {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
}

.selectImageContainer {
  /* direction: column; */
  /* min-width: 10%; */
  min-width: none;
  min-height: 100%;
  padding: 1rem;
  /* max-width: 10rem; */
  /*
  justify-content: center;

  align-items: center;

  vertical-align: middle;
  margin: 0.2rem; */
}

.selectImageContainer>img {

  max-width: 8rem;
  min-width: 3rem;
  min-height: 100%;
}

/* .box {

  max-height: 300px;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */


/* .box>* {
  flex: 1 1 180px;

}

.box>.imagecontainer>img {
  width: 20px;
  height: 20px;
} */

.boxlist {
  /* float: left; */
  min-width: min-content;
  grid-area: sidebar;
  max-width: max-content;
  padding: 5px;
  /* 20%; */
  /* padding: 10px; */
  /* max-height: 100rem; */
  /* height: 50rem; */
  background-color: #0c210d6c;
}

.boxlist1 {
  grid-area: header;
  max-width: max-content;
  padding: 5px;
  background-color: #0c210d6c;
}

/*
@media only screen and (max-width: 980px) {
  .row>img {

    width: 80%;
    height: 90%;

    padding: 5px;
    background-color: #c17a40;
  }
} */

.row>img {
  /* grid-area: left;  */
  /* min-width: 185px; */
  /* max-width: 240px;*/
  /* width: 6em;
  height: 12em; */
  /* max-height: 180px; */

  /* padding: 5px; */
  background-color: #c17a401a;
}

/* @media only screen and (max-width: 980px) {
*/

.buttonBox {
  display: grid;

  grid-gap: 0.1rem;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 680px) {
  .buttonBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 280px) {
  .buttonBox {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* .buttonBox >button{

  display: block;
} */
/* @media only screen and (max-width: 680px) {
.buttonBox{
  max-width: fit-content;
} */
/* } */
.imagecontainer {
  /* height: 150px; */

  /* align-items: center;
align-content:flex-start; */
  padding: 1rem;
  /* background-color: #c17a4013; */
  margin-top: 1em;
  /* image-resolution:initial; */
}

/*} */

.imagecontainer>img {
  /* grid-area: left;  */
  /* min-width: 185px; */
  /* align-items: center;
align-content:flex-start; */
  max-width: 95%;
  min-width: 7rem;
  min-height: 8rem;
  max-height: 8rem;
  /* margin: 2px; */
  /* padding: 2px; */
  /* background-color: #bb947513; */
}

@media only screen and (max-width: 1070px) {
  .imagecontainer>img {
    /* grid-area: left;  */
    /* min-width: 185px; */
    /* align-items: center;
  align-content:flex-start; */
    max-width: 35%;
    min-width: 25%;
    max-height: 100%;
    min-height: 25%;
    /* margin: 2px; */
    /* padding: 2px; */
    /* background-color: #bb947513; */
  }
}

@media only screen and (max-width: 770px) {
  .imagecontainer>img {
    /* grid-area: left;  */
    /* min-width: 185px; */
    /* align-items: center;
align-content:flex-start; */
    max-width: 65%;
    min-width: 35%;
    max-height: 100%;
    min-height: 25%;
    /* margin: 2px; */
    /* padding: 2px; */
    /* background-color: #bb947513; */
  }
}

.btn-success {
  width: 100px;
  /* background-color: #198754;
  color: #fff;
  border-color: #198754; */
}



.row {
  /* min-height: 80px; */
  /* align-items: right; */
  /* vertical-align: middle; */
  text-align: center;
  /* padding: 11rem; */
  min-width: max-content;
}

/*Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sideways {

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.input-group-append {
  float: right;
  background-color: #b6afa9;
}

/*
table {
  max-width: 90%;
} */

/* tr {
  min-height: 80px;

}

th {

  max-width: 10px;
}

td {

  max-width: 10px;
} */

footer {
  grid-area: footer;
  background-color: aqua;
  /* height: 100%; */
}

ul {
  /* columns: 3 150px; */
  /* margin: 1px; */
  padding: 0.01em;
}

li {
  list-style-type: none;
}

.dayForm {
  padding: 10px;
  background-color: #40bebe6c;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 70%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
}