.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #08358f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


.thetop {
  grid-area: header;
  background-color: #735c6dca;
}


button {
  border-radius: 1.5rem;
}

.maincontainer {
  grid-area: main;
  padding: 1px;
  background-color: #e5e7e631;

}

.refreshBtn {
  width: 30px;
  text-align: center;
  border: none;
}

.thetop1 {
  grid-area: header;
  background-color: #cec0ca36;
  padding: 1px;
  max-height: min-content;

}

.appMainContainer {
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
  background-color: #e6e4e4ec;
}

.padder{
  /* margin: 13%; */
}

.maingridContainer {
  min-height: 100%;
  grid-area: main;
  grid-template-areas:
    'header main ';
  grid-template-columns: 100%;
  overflow: auto;
}

.dayListContainerRow {
  border-radius: 25px;
  max-width: 100%;
  min-height: 14em;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  vertical-align: bottom;
}

.dayListContainerRowButtons {
  border-radius: 25px;
  flex-direction: column;
  float: right;
  align-items: center;
  min-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.dayListContainerRowImages {
  min-height: 10rem;
  padding: 2%;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  min-height: 100%;
  margin-left: 3rem;
}

.dayListContainerRowImages >img {
  max-width: 55%;
  min-width: 3rem;
  max-height: 100%;
}

.dayListContainer {
  border-radius: 25px;
  /* padding: 1% 5% 1% 5%; */
  min-width: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #858e8b31;
}

@media only screen and (min-width: 600px) {
  .dayListContainer {
    border-radius: 25px;
    padding: 1% 5% 1% 5%;
    min-width: 100%;
    align-items: center;
    display: flex;
    background-color: #858e8b31;
  }
}

.presetDayListContainer {
  display: flex;
  border-radius: 15px;
  padding: 1% 5% 1% 5%;
  /* min-width: 90%; */
  /* min-height:25rem; */
  min-height:100%;
  align-items: center;
  ;
  flex-direction: column;
  display: flex;
  background-color: #858e8b31;
}

@media only screen and (max-width: 600px) {
  .presetDayListContainer {
    border-radius: 15px;
    padding: 1% 3% 1% 3%;
    min-width: 90%;
    align-items: center;
    display: flex;
    min-height:max-content;
    background-color: #858e8b31;
  }
}

.activityImagecontainer {
  column-rule-color: aqua;
}

.activityImagecontainer>img {
  min-height: 100%;
  max-width: 15rem;
  width: auto;
  padding: 1%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  column-rule-color: aqua;

}

.activityImageListcontainer {
  column-rule-color: aqua;
  min-height: 100%;
}

.activityImageListcontainer>img {
  min-height: 100%;
  max-width: 55%;
  padding: 1%;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  column-rule-color: aqua;
}

@media only screen and (min-width: 600px) {
  .activityImageListcontainer>img {
    min-height: 100%;
    max-width: 55%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    column-rule-color: aqua;
  }
}

.activityDayItem {
  border-radius: 25px;
  max-width: auto;
  padding: .5501em;
  background: #7b7c7a00;
  min-height: 100%;
}

.imagecontainer {
  /* min-height: min-content; */

  column-rule-color: aqua;
}

.preset-grid-container {
  border-radius: 5px;
  display: flex;
  /* flex-direction:row; */
  
  min-height: 50%;
  /* vertical-align: bottom */
  /* top: 340px; */
}
div > Button {
  font-size:xx-large;
}
@media only screen and (max-width:1000px)and (orientation: portrait) {
  /* hide element on small screens */
  div >Button {
  font-size:xx-large;
}

}
@media only screen and (max-width:1000px)and (orientation: portrait) {
  /* hide element on small screens */

  .preset-grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width:100px)and (orientation: landscape) {
  /* hide element on small screens */

  .preset-grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}
.preset-grid-item {
  /* display:inline-block; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  font-size: 15px;
  /* grid-auto-rows:minmax(min-content, max-content); */
  text-align: center;
  justify-content: center;
  align-items: center;
  /* display:inline-block; */
  min-width: 10rem;
  min-height: 10%;
  /* max-height: 10%; */
  padding: 0.5%;
  margin-bottom: 8rem;
  /* border-radius: 1%; */
  /* vertical-align: bottom; */
}

/* .grid-container {
  border-radius: 5px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  grid-auto-rows: minmax(min-content, max-content);
  background-color: #99d3b618;

  min-height: inherit;

}

@media only screen and (min-width: 600px) {
  .grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    background-color: #99d3b618;
  }
} */

/* .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 0px 0px 0px;
  font-size: 15px;
  grid-auto-rows: minmax(min-content, max-content);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  min-height: 40rem;
  max-height: max-content;
} */

.onthetop {
  height: 80px;
  min-height: 80px;
}

.dKey {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 4spx;
  background-color: #99d3b618;
}


.modal {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.filterDays {
  background-color: #435e45ee;
  border: '2px solid #000';
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 10%;
  padding: 1rem;
  max-width: 50%;
  min-width: 30%;
  min-height: 10%;
  max-height: 95%;
}

.box2 {
  align-items: left;
  align-content: center;
  
  margin: .2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(250, 235, 215, 0.281);
 
}

.box2>label>input[type=text] {
  max-width: max-content;
  width: 100%;
}

.box3 {
  align-items: left;
  align-content: center;
 
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1em;
  margin: 0.2rem;
  background-color: rgba(240, 233, 225, 0.281);
}

.box3>label>input[type=text] {
  max-width: max-content;
  width: 100%;
}

.updateDay>ExtendModalUnstyled {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.updateDay {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  flex: content;
  direction: column;
  background-color: #7b7c7af8;
  overflow-y: auto;
  margin-left: 30%;
  margin-right: 40%;
  margin-top: 3%;
  display: block;
  max-width: 50%;
  min-width: 30%;
  min-height: 10%;
  max-height: 95%;

  scroll-behavior: auto;
}

@media only screen and (min-width: 600px) {
  .updateDay {
    align-content: center;
    direction: column;
    background-color: #7b7c7af8;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 35rem;

    min-width: 10rem;
  }
}

.updateImagecontainer {

  direction: column;
  min-height: 10%;
  padding: 2%;
}

.updateImagecontainer>img {

  max-width: 55%;
  min-width: 3rem;
  min-height: 100%;
}

.dayItem {
  border-radius: 25px;
  max-width: auto;
  padding: .5501em;
  background: #7b7c7a00;
}

.updateBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.editImageContainer {
  min-height: 10rem;
  padding: 2%;
  max-width: 20rem;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.editImageContainer>img {

  max-width: 40%;
  min-width: 10rem;
  min-height: 100%;
}


.selectImageBox {
  display: flex;
  flex-direction: column;
}

.selectImageContainer {
  min-width: none;
  min-height: 100%;
  padding: 1rem;
}

.selectImageContainer>img {

  max-width: 8rem;
  min-width: 3rem;
  min-height: 100%;
}

/* .box {

  max-height: 300px;
  height: min-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
} */


/* .box>* {
  flex: 1 1 180px;

}

.box>.imagecontainer>img {
  width: 20px;
  height: 20px;
} */

.boxlist {
  min-width: min-content;
  grid-area: sidebar;
  max-width: max-content;
  padding: 5px;
  background-color: #0c210d6c;
}

.boxlist1 {
  grid-area: header;
  max-width: max-content;
  padding: 5px;
  background-color: #0c210d6c;
}

/*
@media only screen and (max-width: 980px) {
  .row>img {

    width: 80%;
    height: 90%;

    padding: 5px;
    background-color: #c17a40;
  }
} */

.row>img {
  background-color: #c17a401a;
}

/* @media only screen and (max-width: 980px) {
*/

.buttonBox {
  display: grid;

  grid-gap: 0.1rem;
  width: 50%;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (min-width: 600px) {
  .buttonBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 280px) {
  .buttonBox {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* .buttonBox >button{

  display: block;
} */
/* @media only screen and (max-width: 680px) {
.buttonBox{
  max-width: fit-content;
} */
/* } */
.imagecontainer {
  padding: 1rem;
  margin-top: 1em;
}

/*} */

.imagecontainer>img {
  max-width: 95%;
  min-width: 7rem;
  min-height: 8rem;
  max-height: 8rem;
}

@media only screen and (min-width: 600px) {
  .imagecontainer2>img {
    max-width: 35%;
    min-width: 25%;
    max-height: 100%;
    min-height: 25%;
  }
}

@media only screen and (min-width: 600px) {
  .imagecontainer>img {
    max-width: 65%;
    min-width: 35%;
    max-height: 100%;
    min-height: 25%;
  }
}

.btn-success {
  width: 100px;
}



.row {
  text-align: center;
  min-width: max-content;
}

/*Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.sideways {

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.input-group-append {
  float: right;
  background-color: #b6afa9;
}

/*
table {
  max-width: 90%;
} */

/* tr {
  min-height: 80px;

}

th {

  max-width: 10px;
}

td {

  max-width: 10px;
} */

footer {
  grid-area: footer;
  background-color: aqua;
}

ul {
  padding: 0.01em;
}

li {
  list-style-type: none;
}

.dayForm {
  padding: 10px;
  background-color: #40bebe6c;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 100%;
  }
}

.modal-overlay {
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 70%;
  height: 70%;
  padding: 1rem;
  border-radius: 1rem;
}
@media (max-width: 990px) {
  button {
    font-size: 58px;
    font-size: xx-large!important;
    
    
  };
  h2{margin-left: 3rem; font-size: xx-large!important;}
}
/* }
button {
  } */