div>Button {
  font-size: xx-large;
}

button {
  border-radius: 1.5rem;
}

@media only screen and (max-width:992)and (orientation: portrait) {
  button {
    font-size: 250% !important;
  }
}

@media only screen and (max-width:992)and (orientation: portrait) {
  div>Button {
    font-size: xx-large;
  }
}



h2 {
  font-size: 1.8em !important;
}

@media only screen and (min-width:100px)and (orientation: portrait) {
  h2 {
    font-size: 2.5em !important;
  }

  ;
}



.appMainContainer {
  min-height: 100%;
  padding-left: 1%;
  padding-right: 1%;
  overflow: auto;
  background-color: #e6e4e4ec;
}

.maingridContainer {
  min-height: 100%;
  grid-area: main;
  grid-template-areas:
    'header main ';
  grid-template-columns: 100%;
  overflow: auto;
}

.preset-grid-container {
  border-radius: 5px;
  display: flex;
  min-height: 50%;
}

@media only screen and (max-width:992px)and (orientation: portrait) {
  /* hide element on small screens */

  .preset-grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width:992px)and (orientation: landscape) {

  /* hide element on small screens */
  .preset-grid-container {
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr;
  }
}

.preset-grid-item {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 10%;
  padding: 0.3%;
  /* margin-bottom: 1rem; */
  /* margin-top: 1rem; */
  /* margin-bottom: 20%;
  margin-top: 10%; */
}

@media only screen and (max-width:992px) {
  .preset-grid-item {
    display: inline-grid;
  }
}

  .gridButtons {
    display: flex;
    flex-wrap: wrap;
    /* margin: 1rem; */
    
  }
  
  @media only screen and (max-width: 992px) {
    .gridButtons {
      align-items: center;
      justify-content: center;
      margin: 1rem;

    }
  }

  .presetListContainer {
    display: flex;
    border-radius: 15px;
    min-height: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: #858e8b31;

  }

  @media only screen and (max-width: 992px) {
    .presetListContainer {
      border-radius: 15px;
      padding: 1% 3% 1% 3%;
      min-width: 90%;
      align-items: center;
      display: flex;
      min-height: max-content;
      background-color: #858e8b31;
      /* margin-bottom: 20%; */
      min-height: 100%;
    }
  }


  .activityImageListcontainer {
    column-rule-color: aqua;
    min-height: 100%;
    min-width: min-content;
  }

  .activityImageListcontainer>img {
    min-height: 100%;
    max-width: 55%;
    padding: 1%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    column-rule-color: aqua;
  }

  @media only screen and (min-width: 992px) {
    .activityImageListcontainer>img {
      min-height: 100%;
      max-width: 55%;
      padding: 1%;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
      column-rule-color: aqua;
    }
  }

  .activityPresetItem {
    border-radius: 25px;
    max-width: auto;
    padding-top: .5501em;
    background: #7b7c7a00;
    min-height: 100%;
  }


  .selectImageBox {
    display: flex;
    flex-direction: column;
  }

  .selectImageContainer {
    min-width: none;
    min-height: 100%;
    padding: 1rem;
  }

  .selectImageContainer>img {

    max-width: 8rem;
    min-width: 3rem;
    min-height: 100%;
  }